body, html {
	height: 100%;
	margin: 0;
	font-family: sans-serif, Castella, Times New Roman;
	font-size:15px; 
}

h1{
	color:white;
	font-size:9em;
	line-height: 150px;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px #000000;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

/*Style for the home section*/
#paragraph{
	color:white;
	font-size:1.5em;
	text-shadow: 2px 2px 4px #2C3539;
	margin:auto;
	width: 70%;
}

.caption {
	position: absolute;
	left: 0;
	top: 23%;
	width: 100%;
	text-align: center;
	color: #000;
}


/*Style for animal images*/
#sky_1{
	position:absolute;
	left:50%;
	top:20%;
	z-index: 2;
}

#sky_2{
	position:absolute;
	left:20%;
	top:70%;
}

#grassland_1{
    position:absolute;
	right:15%;
    bottom:30%;
	z-index:0;
}

#grassland_2{
    position:absolute;
    left:10%;
    bottom:5%;
	z-index:2;
}

#grassland_3{
    position:absolute;
    left:45%;
    top:45%;
	z-index:1;
}

#koala{ 
    position: absolute;
    left: 20%;
    top: 30%;
}

#sea_1{
	position: absolute;
	left: 10%;
	top: 50%;
}

#sea_2{
	position: absolute;
	left: 50%;
	top: 20%;
}
	
#sea_3{
	position: absolute;
	right: 10%;
	top: 40%;
}

#underground_3{
	position: absolute;
	left: 50%;
	top: 70%;
}

#underground_1{
	position: absolute;
	right:20%;
	top: 30%;
}

#underground_2{
	position: absolute;
	left: 30%;
	top: 50%;
}

#sky_3{
	position: absolute;
	right: 10%;
	top: 50%;
}

#Gouldian_Finch{
	position: absolute;
	right: 10%;
	top: 20%;
}

#Thorny_Devil{
    position:absolute;
    right: 15%;
    bottom: 14%;
}

#Australian_Fur_Seal{
	position: absolute;
	right: 8%;
	bottom: 0%;
}

.hidden_an{
	z-index: 0;
}

/*habitat images*/
#cloud{
	position: absolute;
	left:30%;
	top:40%;
}
	
#cloud1{
	pointer-events: none;
    z-index: 1;
	position: absolute;
	right:10%;
	top:20%;
}

#tree{
    pointer-events: none;
    z-index: 1;
	position: absolute;
	left: 10%;
	top: 10%;
}
	
#bush{
	pointer-events: none;
	position: absolute;
	right: 5%;
	bottom:10%;
	z-index: 3;
}

#bush1{
	pointer-events: none;
	position: absolute;
	left: 30%;
	top:65%;
	z-index: 1;
}

#rock{
	position: absolute;
	left:10%;
	top: 40%;
}
	
#rock1{
    pointer-events: none;
	position:absolute;
	z-index: 1;
	right:10%;
	bottom:10%;
}
	
#coral{
	position:absolute;
	left:5%;
	bottom:5%;
}	
	
#coral1{
	pointer-events: none;
	position:absolute;
	z-index: 1;
	right:5%;
	bottom:0%;
}
	
#person{
	position:absolute;
	right:5%;
	top:10%;
}

/*Style for habitat background*/
.bgimg {
	position: relative;
	background-size: cover;
	background-position: center;
}

.bgimg-1 {
	background-image: url(../images/title.jpg);
	min-height: 100%;
}

.bgimg-2 {
	background-image: url(../images/about.jpg);
	min-height: 100%;
}

.bgimg-3 {
	background-image: url(../images/grass.jpg);
	min-height: 100%;
}

.bgimg-4 {
	background-image: url(../images/ground.jpg);
	min-height: 100%;
}

.bgimg-5 {
	background-image: url(../images/sea.jpg);
	min-height: 100%;
}

/*Style for navigation*/
nav li{
	font-size:1.1em;
	display:inline;
	padding: 10px;
	margin-right:10px;
}

nav{
	background-color: rgba(242,242,242, .2);
	clear:both;
	position:fixed;
	display: inline-block;
	vertical-align: middle;
	width:100%;
	height: 50px;
	margin-top:0px;
	z-index:100;
}

ul{
	text-align:center;
}

/*Refresh button*/
#counter {
	margin:15px;
	position:fixed;
    float: left;
    color: white;
}

#refresh {
    float: right;  
	margin-right:10px;
	margin-top:5px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#div_refresh p {
	z-index:2;
	color: black;
	display: initial;
	position: absolute;
	left:90%;
	top:130px;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	text-shadow:
	-1px -1px 0 white,  
	1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
	font-size: 18px;
}

#div_refresh:hover p {
	opacity: 1;
}


/*Style for links*/
a,a:link{
	text-decoration:none;
	color: white;
}

a:visited{
	color:white;
}

a:hover{
	transition: color 0.5s linear 0;
	color:grey;
}

a:active,a:focus{
	color:#ffffff;
}

.active{
	font-weight: bold;
}

/*Style for footer*/
footer{
	color:white;
	background-color:#0076BE;
	padding: 20px;
	text-align: center;
	padding-left: 20px;
}

/*Code snippets from (Source: W3.CSS Modal Code from W3school)*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; 
    z-index: 90; 
    padding-top: 55px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-left: 30px;
    padding: 20px;
    border: 2px solid black;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*Code snippets from (Source: (Better) Tabs with Round Out Borders code by Chris Coyier)*/
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tab {
	text-align: center;
	list-style: none;
    width: 30%;
	margin-left: 30px;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0;
	line-height: 24px;
	position: relative;
}

.tab li {
	margin: 0 10px;
	padding: 0 10px;
	border-left: 2px solid black;
	border-right: 2px solid black;
    border-top: 2px solid black;
	background: #ECECEC;
	display: inline-block;
}

.tab li {
	position: relative;
	z-index: 0;
}

ul.tab li a {
	color: #000;
	font-weight: bold; 
}

/* Change background color of tab links on hover */
ul.tab li:hover {
    background-color: #ddd;
}

/*Style for the more info text when the user hovers over the animal*/
.more_info a {
	z-index:2;
	color: black;
	display: initial;
	position: absolute;
	top: 45%;
	left:25%;
	opacity: 0;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	text-shadow:
	-1px -1px 0 white,  
	1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
	font-size: 25px;
}

/*Reveal the more info text*/
.more_info:hover a {
	opacity: 1;
}

/*Enlarge hover effect for animals*/
.more_info:hover {
	-webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#scroll{
	position: relative;
	margin-top:90px;
}

#statusmessage{
	z-index:50;
	margin:auto;
	width:60%;
	text-align:center;
	font-size:20px;
    position:fixed;
    bottom:0;
    padding:0 5px;
    line-height:30px;
    background-color:white;
	border-style: solid;
    border-width: 2px;
    margin-bottom:-25px;
    font-weight:bold;
    left:0;
    right:0;
}




