body, html {
  height: 100%;
<<<<<<< HEAD
  margin: 0 auto;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;

=======
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
>>>>>>> d38d8f7262ec5d0658b0249ae07044c00508112a
}

h1{
	color:white;
	font-size:9em;
	line-height: 150px;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px #000000;
	
}

img{
	position:absolute;
	left:50%;
	top:20%;
}

#paragraph{
	color:white;
	font-size:1.5em;
	text-shadow: 2px 2px 4px #2C3539;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
}

#paragraph{
	margin:auto;
	width: 70%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  background-size: cover;
  background-position: center;
}
.bgimg-1 {
  background-image: url(../images/title.jpg);
min-height: 100%;
}

.bgimg-2 {
  background-image: url(../images/about.jpg);
  min-height: 100%;
}

.bgimg-3 {
  background-image: url(../images/grass.jpg);
  min-height: 100%;
}

.bgimg-4 {
  background-image: url(../images/ground.jpg);
  min-height: 100%;
}

.bgimg-5 {
  background-image: url(../images/sea.jpg);
  min-height: 100%;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

nav li{
	font-size:1.1em;
	display:inline;
	padding: 10px;
	margin-right:10px;
}

nav{
	background-color: rgba(242,242,242, .2);
	clear:both;
	position:fixed;
	display: inline-block;
	vertical-align: middle;
	width:100%;
	height: 50px;
	margin-top:0px;
	z-index:100;
}

ul{
	text-align:center;
}

a,a:link{
	text-decoration:none;
	color: white;
	
}

a:visited{
	color:white;
}

a:hover{
	transition: color 0.5s linear 0;
	color:grey;
}

a:active,a:focus{
	color:#ffffff;
}

<<<<<<< HEAD
#Wombat {
    position: absolute;
    left: 30%;
    top: 43%;
}

#Echidna {
    position: absolute;
    left:20%;
    top:60%
}


.left{
	width:50%;
	margin-left: 20%;
=======
.thumbnail:hover {
    position:absolute;
    width:250px;
    height:auto;
    display:block;
    z-index:999;
>>>>>>> d38d8f7262ec5d0658b0249ae07044c00508112a
}

footer{
	color:white;
	background-color:#0076BE;
	padding: 20px;
	text-align: center;
	padding-left: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 30px;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body {font-family: "Lato", sans-serif;}
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tab {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
  position: relative;
}
.tab li {
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
}


.tab:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}

.tab:before {
  z-index: 1;
}
.tab li {
	position: relative;
  z-index: 0;
}
ul.tab li a {
  background: #FFF;
  color: #000;
}

ul.tab li a .tablinks{
  z-index: 2;
  border-bottom-color: #FFF;
}

ul.tab li a:before,
ul.tab li a:after {
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: " ";
}
ul.tab li a:before {
  left: -6px;
}
ul.tab li a:after {
  right: -6px;
}
ul.tab li a:after, ul.tab li a:before {
  border: 1px solid #AAA;
}
ul.tab li a{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
ul.tab li a:before {
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
}
ul.tab li a:after {
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
}


ul .tab li a:before {
  box-shadow: 2px 2px 0 #ECECEC;
}
ul .tab li a:after {
  box-shadow: -2px 2px 0 #ECECEC;
}
ul .tab li.tablinks a:before {
  box-shadow: 2px 2px 0 #FFF;
  
}
ul .tab li.tablinks a:after {
  box-shadow: -2px 2px 0 #FFF;
 
}

ul .tab li a {
  background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 20px;
}